body {
    width: 800px;
    margin-left: calc(50% - 400px);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 25px;
    margin-right: 55px;
}

header nav a {
    color: #666666;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

header nav a:first-child {
    margin: 0;
}

.main {
    display:inline-block;
}

main > div {
    width: 45%;
    float: left;
}

main img {
    width: 55%;
}

main h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #525254;
    font-weight: normal;
}

div > p:first-of-type{
    font-size: 50px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 13px;
}


main div img {
    width: 105px;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 15px;
}


div > p:last-of-type{
    color:#99999B;
    width: 320px;
    margin-bottom: 60px;
}

main a {
    float: left;
    text-decoration: none;
    border: 2px solid;
    border-radius: 30px; 
    background-color: #664499;
    padding: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: white;
    margin-right: 15px;
}

main a:last-child {
    color: #664499;
    background-color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
}

footer p {
    color: #666666;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-right: 55px;
}

footer div a img{
    width: 20px;
}